<!-- ********** SLIDES ********** -->
      <section id="slides">
         <ul class="slides-container">
            <li>
               <%= image_tag("slide-a.jpg") %>
            </li>
            <li>
               <%= image_tag("slide-b.jpg") %>
            </li>
            <li>
               <%= image_tag("slide-c.jpg") %>
            </li>
         </ul>

         <div id="bannertext">
            <h1>THREE-MONTH CODER</h1>
            <hr class="aligncenter">
            <h3>One man's quest to level up as a coder.<br> In three months.</h3>

            <p>
              <%= link_to("Progress Log", milestones_path, class: "btn btn-lg btn-white btn-design") %>

              <%= link_to("Portfolio", portfolios_path, class: "btn btn-lg btn-white btn-design") %>
            </p>
         </div>
         <!-- end:Banner text -->

         <nav class="slides-navigation">

            <%= link_to page_path("index"), class: "prev" do %>
              <i class="glyphicon glyphicon-chevron-left"></i>
              <% end %>
            <%= link_to page_path("index"), class: "next" do %>
              <i class="glyphicon glyphicon-chevron-right"></i>
              <% end %>

         </nav>

      </section>
      <!-- END SLIDES SECTION -->


<!-- ********** FEATURES ********** -->
  <div class="container">
    <div class="row mtb2 centered">

      <div class="col-md-4 w">
        <div class="circle-icon">
          <div class="icon ion-ios7-gear-outline"></div>
        </div>
        <%= link_to("Progress Log", milestones_path, :class => "index_links") %>
        <hr class="aligncenter">
        <p>Here is where I chart, in excruciating detail, what I've been learning and for how long I've been learning it.</p>
      </div><!--/col-md-4-->

      <div class="col-md-4 w">
        <div class="circle-icon" >
         <div class="icon ion-ios7-analytics-outline"></div>
        </div>
        <%= link_to("Blog Posts", posts_path, :class => "index_links") %>
        <hr class="aligncenter">
        <p>What I'm learning about Ruby, Rails, and programming in general.</p>
      </div><!--/col-md-4-->



      <div class="col-md-4 w">
        <div class="circle-icon">
          <div class="icon ion-ios7-camera-outline"></div>
        </div>
        <%= link_to("Portfolio", portfolios_path, :class => "index_links") %>
        <hr class="aligncenter">
        <p>Screenshots and links to my projects.</p>
      </div><!--/col-md-4-->
    </div><!--/row -->
  </div><!-- /.container -->

<script>
    //Superslides
    $('#slides').superslides({
        slide_easing: 'easeInOutCubic',
        slide_speed: 800,
        pagination: true,
        hashchange: false,
        scrollable: true,
        animation: 'fade'
    });

    // Add swipe option

    $('#slides').hammer().on('swipeleft', function () {
        $(this).superslides('animate', 'next');
    });

    $('#slides').hammer().on('swiperight', function () {
        $(this).superslides('animate', 'prev');
    });
    </script>

    <script>
    // Banner text add parallax efect and fade
  function EasyPeasyParallax() {
      scrollPos = $(this).scrollTop();
      $('#slider').css({
          'background-position': '50% ' + (-scrollPos / 4) + "px"
      });
      $('#bannertext').css({
          'margin-top': (scrollPos / 4) + "px",
          'opacity': 1 - (scrollPos / 250)
      });
  }
  $(document).ready(function () {
      $(window).scroll(function () {
          EasyPeasyParallax();
      });
  });

    </script>


