<div class="container">

<div>
<h1 class="boxed"> Thoughts About Ruby, Rails, Computer Science, And ... Life</h1>
</div>
<br/><br/>

<p>Here are some blog posts charting my coding journey.</p>

<table class="gridtable">
  <thead>
    <tr>
      <th>TITLE</th>
      <th>DATE WRITTEN</th>
      <% if logged_in? %>
      <th></th>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>

      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= post.created_at.strftime("%B %d, %Y") %> </td>
        <% if logged_in? %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>

    <% end %>
  </tbody>
</table>

<% if logged_in? %>
<p> <%= link_to "Write A New Post", new_post_path %>
</p>
<% end %>
</div>


