<div class="container">

<div class="boxed">
<h1 style = "text-align: center"> <%= @post.title %> </h1>

<p>By: <%= @post.author %><br/>
Date: <%= @post.date_written.strftime('%B %-d, %Y') %><br/>
Tags:
  <% @post.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
    <% end %>
</p>
</div>

<br/>

<!--used simple_format text helper to format output -->
<div id = "postbody" class="boxed">
<p> <%= @post.get_body %> </p>
</div>

<p>

<div class="row">
  <div class="col-md-3"><%= link_to "List All Posts", posts_path %></div>
  <div class="col-md-3"><%= link_to "List All Post Tags", tags_path %></div>
  <% if logged_in? %>
  <div class="col-md-3"><%= link_to "Edit Post", edit_post_path(@post) %></div>
  <div class="col-md-3"><%= link_to "Delete Post", post_path(@post), method: :delete, data: {confirm: "Do you really want to delete this post?"} %></div>
  <% end %>
</div>
<br><br>
<div class="row">

  <!--Disqus Comments -->
<%= render partial: "disqus/thread", locals: {post: @post} %>

</div>




