<div class="container">
<div class ="boxed">
<h1> <%= @post.title %> </h1>
</div>
<p> <%= @post.body %> </p>

<p>
  <%= link_to "Edit Post", edit_post_path(@post) %>
</p>

<p>
<%= link_to "Delete Post", post_path(@post), method: :delete, data: {confirm: "Do you really want to delete this post?"} %>
</p>

<p>
<%= link_to "List All Posts", posts_path %>
</p>


<h3>Comments (<%= @post.comments.size %>)</h3>
<%= render partial: 'posts/comment', collection: @post.comments %>

<%= render partial: "comments/form" %>

</div>
