<!DOCTYPE html>
<html>
<head>
  <title>ThreeMonthCoder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
      <%= render 'layouts/navigation' %>
  </header>
  <br><br><br>
  <main role = "main">

    <div class = "container"><p><%= flash.notice %></p></div>

    <%= yield %>
  </main>

  <div class="container">
  <h5>
  <% if logged_in? %>
    <%= "Logged in as #{current_user.email}" %>
  <% else %>
    Logged out
  <% end %>
  </h5>
  </div>

</body>
</html>



